html {
    background-color: rgb(101, 186, 214);
}

#clock {
    align-self: center;
    text-align: center;
    margin: 15%;
    font-size: 500%;
    font-family: 'Courier New', Courier, monospace;
}

.text {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}